*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/bd/24/9f/bd249f7b84be6acef242c355bf7fbba8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caixa-tempo{
    width: 90%;
   max-width: 450px;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    background-color: #7c7c7c2b;
    width: calc(100% - 60px);
}

.titulo{
    margin: 10px 0;
    color: white;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    
}

.texto{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}

.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;

}

.img-busca{
    width: 25px;
}

.caixa-media{
    padding: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao{
    color: #ffffff;
    margin-left: 20px;
}

.umidade{
    color: #ffffff;
    margin-top: 20px;
}