*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/bd/24/9f/bd249f7b84be6acef242c355bf7fbba8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caixa-tempo{
    background-color: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    background-color: #7c7c7c2b;
    width: calc(100% - 80px);
}

.titulo{
    color: white;
}

.texto{
    color: #ffffff;
}

.botao-buscar{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;

}

.img-buscar{
    width: 25px;
}